@model Hoard.WebUI.Services.ViewModels.GameDetailsViewModel

@{
    ViewData["Title"] = "Game details";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlayData)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.PlayData)
            {
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(modelItem => item.PlayerName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(modelItem => item.PlayerName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(modelItem => item.Status)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(modelItem => item.Status)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(modelItem => item.Playthroughs)
                    </dt>
                    <dd class="col-sm-10">
                        @if (item.Playthroughs == null || item.Playthroughs.Count == 0)
                        {
                            <p><i>No playthroughs found.</i></p>
                        }
                        else
                        {
                            <ul>
                                @foreach (var playthrough in item.Playthroughs)
                                {
                                    <li>@playthrough.OrdinalNumber. @playthrough.PlayStatus, playtime: @playthrough.Playtime, @playthrough.SideContentCompleted</li>
                                }
                            </ul>
                        }

                    </dd>
                </dl>
            }
        </dd>
    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
