@model Hoard.WebUI.Services.ViewModels.GameDetailsViewModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="row mb-3">
    <div class="ml-0 mr-auto" style="margin-top: -20px;">
        <a asp-action="Index" class="btn btn-success btn-lg">< Index</a>
    </div>
    <div class="ml-auto mr-0" style="margin-top: -20px;">
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-warning btn-lg">Edit</a>
        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#deleteModal" onclick="disableDeleteButton()">Delete</button>
    </div>
</div>

<div class="row mb-2">
    <div>
        <h1 style="margin-bottom: 0px;">@Model.Title</h1>
        <h2 class="text-muted">@Model.Title</h2>
    </div>
</div>

<div class="row card-row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6" style="min-height: 200px;">
                        <div class="h-100" style="background-image: url('/images/NoCover.png'); background-position:center; background-size: contain; background-repeat: no-repeat;"></div>
                    </div>
                    <div class="col-lg-6">
                        <dl class="row card-text">
                            <dt class="col-sm-3 card-text">
                                @Html.DisplayNameFor(model => model.Platform)
                            </dt>
                            <dd class="col-sm-9 card-text">
                                @Html.DisplayFor(model => model.Platform)
                            </dd>
                            <dt class="col-sm-3 card-text">
                                @Html.DisplayNameFor(model => model.ReleaseDate)
                            </dt>
                            <dd class="col-sm-9 card-text">
                                @Html.DisplayFor(model => model.ReleaseDate)
                            </dd>
                            <dt class="col-sm-3 card-text">
                                @Html.DisplayNameFor(model => model.Genres)
                            </dt>
                            <dd class="col-sm-9 card-text">
                                @Html.DisplayFor(model => model.Genres)
                            </dd>
                            <dt class="col-sm-3 card-text">
                                Game mode(s)
                            </dt>
                            <dd class="col-sm-9 card-text">
                                DummyMode
                            </dd>
                            <dt class="col-sm-3 card-text">
                                Series
                            </dt>
                            <dd class="col-sm-9 card-text">
                                DummySeries
                            </dd>
                            <dt class="col-sm-3 card-text">
                                Developer(s)
                            </dt>
                            <dd class="col-sm-9 card-text">
                                DummyDev
                            </dd>
                            <dt class="col-sm-3 card-text">
                                Publisher(s)
                            </dt>
                            <dd class="col-sm-9 card-text">
                                DummyPublisher
                            </dd>
                            <dt class="col-sm-3 card-text">
                                Media type
                            </dt>
                            <dd class="col-sm-9 card-text">
                                DummyMediaType
                            </dd>
                            <dt class="col-sm-3 card-text">
                                Language
                            </dt>
                            <dd class="col-sm-9 card-text">
                                DummyLanguage
                            </dd>
                        </dl>
                    </div>
                </div>
                <hr />
                <dl class="row card-text">
                    <dt class="col-sm-12 card-text">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-12 card-text">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="row card-row">
    @foreach (var item in Model.PlayData)
    {
        <div class="col-xl-6" style="margin-top: 25px;">
            <div class="card h-100">
                <div class="card-header dark-card-header">
                    <div class="row">
                        <img src="~/images/Save.svg" height="30" class="ml-3">
                        <h4 class="mr-auto ml-2 card-text" style="margin: 0px 0px 0px 0px">@Html.DisplayFor(modelItem => item.PlayerName)</h4>
                        <a asp-controller="PlayData" asp-action="Details" asp-route-id="@item.ID" class="btn btn-success btn-sm mr-3 ml-auto">Details</a>
                    </div>
                </div>
                <div class="card-body">
                    <dl class="row" style="margin-top: -5px;">
                        <dt class="col-sm-3 card-text">
                            @Html.DisplayNameFor(modelItem => item.Status)
                        </dt>
                        <dd class="col-sm-9 card-text">
                            @Html.DisplayFor(modelItem => item.Status)
                        </dd>
                        <dt class="col-sm-3 card-text">
                            @Html.DisplayNameFor(modelItem => item.Rating)
                        </dt>
                        <dd class="col-sm-9 card-text">
                            @Html.DisplayFor(modelItem => item.Rating)
                        </dd>
                        <dt class="col-sm-3 card-text">
                            @Html.DisplayNameFor(modelItem => item.Priority)
                        </dt>
                        <dd class="col-sm-9 card-text">
                            @Html.DisplayFor(modelItem => item.Priority)
                        </dd>
                        <dt class="col-sm-3 card-text">
                            @Html.DisplayNameFor(modelItem => item.TotalPlaytime)
                        </dt>
                        <dd class="col-sm-9 card-text">
                            @Html.DisplayFor(modelItem => item.TotalPlaytime)
                        </dd>
                        <dt class="col-sm-12 card-text">
                            @Html.DisplayNameFor(modelItem => item.Notes)
                        </dt>
                        <dd class="col-sm-12 card-text">
                            @Html.DisplayFor(modelItem => item.Notes)
                        </dd>
                    </dl>

                    <hr />
                    <h5>Playthroughs</h5>
                    <hr />
                    @if (item.Playthroughs == null || item.Playthroughs.Count() == 0)
                    {
                        <p class="text-muted card-text"><i>No playthroughs found.</i></p>
                    }
                    else
                    {
                        @foreach (var playthrough in item.Playthroughs)
                        {
                            <p class="card-text">
                                @playthrough.OrdinalNumber. <b>@playthrough.Status</b><br />
                                Played for @playthrough.Playtime, @playthrough.PlayDates<br />
                                Notes: @playthrough.Notes
                            </p>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Warning!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Are you absolutely sure you wish to delete <b>@Model.Title</b>?
                    <br />
                    <span class="text-danger"><b>This action cannot be undone!</b></span>
                </p>
            </div>
            <div class="modal-footer">
                <form asp-action="Details">
                    <div class="form-group" style="margin-bottom: 0px;">
                        <input id="deleteButton" type="submit" value="Delete" class="btn btn-danger" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function disableDeleteButton() {
        document.getElementById("deleteButton").disabled = true;
        setTimeout("enableDeleteButton()", 7000);
    }

    function enableDeleteButton() {
        document.getElementById("deleteButton").disabled = false;
    }
</script>
