@model Hoard.WebUI.Services.ViewModels.Game.GameIndex.GameIndexViewModel

@{
    ViewData["Title"] = "Games";
}

<div class="container">
    <div class="row mb-3">
        <div class="ml-auto mr-0" style="margin-top: -20px;">
            <a asp-action="Create" class="btn btn-success btn-lg">New Game+</a>
        </div>
    </div>

    <div class="row mb-2">
        <div>
            <h1 style="margin-right: 15px; margin-bottom: 0px;">Games</h1>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="table-responsive-xl">
        <table class="table table-hover table-striped" style="min-width: 1100px;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Games.FirstOrDefault().Platform)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Games.FirstOrDefault().Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Games.FirstOrDefault().ReleaseDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Games.FirstOrDefault().Genres)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Games.FirstOrDefault().Developers)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Games.FirstOrDefault().Publishers)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Games.FirstOrDefault().Modes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Games.FirstOrDefault().Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Games.FirstOrDefault().Priority)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Games)
                {
                    <tr onclick="window.open('@Url.Action("Details", "Game", new { id = item.ID })', '_blank')" style="cursor: pointer;">
                        <td>
                            @Html.DisplayFor(modelItem => item.Platform)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReleaseDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genres)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Developers)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Publishers)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Modes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Priority)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>