@model Hoard.WebUI.Services.ViewModels.Game.PlayDataDetails.PlayDataDetailsViewModel

@{
    ViewData["Title"] = Model.GameTitle + " - " + Model.PlayerName;
}

<div class="row mb-3">
    <div class="ml-0 mr-auto" style="margin-top: -20px;">
        <a asp-controller="Game" asp-action="Details" asp-route-id="@Model.GameID" class="btn btn-success btn-lg">< Game</a>
    </div>
    <div class="ml-auto mr-0" style="margin-top: -20px;">
        <button class="btn btn-warning btn-lg modal-toggle" modal-toggle" data-toggle="modal" data-target="#form-modal"
                data-url="@Url.Action("Edit", "PlayData", new { id = Model.ID })">
            Edit
        </button>
    </div>
</div>

<div class="row mb-2">
    <div>
        <h1>@Model.PlayerName's play data for @Model.GameTitle</h1>
    </div>
</div>

<div class="row card-row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row no-gutters">
                    <dl class="col-lg-6 row card-text">
                        <dt class="col-sm-3 card-text">
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>
                        <dd class="col-sm-9 card-text">
                            @Html.DisplayFor(model => model.Status)
                        </dd>
                        <dt class="col-sm-3 card-text">
                            @Html.DisplayNameFor(model => model.Priority)
                        </dt>
                        <dd class="col-sm-9 card-text">
                            @Html.DisplayFor(model => model.Priority)
                        </dd>
                        <dt class="col-sm-3 card-text">
                            @Html.DisplayNameFor(model => model.Rating)
                        </dt>
                        <dd class="col-sm-9 card-text">
                            @if (Model.Rating == "")
                            {
                                <i class="text-muted">None</i>
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.Rating)
                            }
                        </dd>
                        <dt class="col-sm-3 card-text">
                            @Html.DisplayNameFor(model => model.OwnershipStatus)
                        </dt>
                        <dd class="col-sm-9 card-text">
                            @Html.DisplayFor(model => model.OwnershipStatus)
                        </dd>
                    </dl>
                    <dl class="col-lg-6 row card-text">
                        <dt class="col-sm-3 card-text">
                            @Html.DisplayNameFor(model => model.TotalPlaytime)
                        </dt>
                        <dd class="col-sm-9 card-text">
                            @Html.DisplayFor(model => model.TotalPlaytime)
                        </dd>
                        <dt class="col-sm-3 card-text">
                            @Html.DisplayNameFor(model => model.FirstPlayed)
                        </dt>
                        <dd class="col-sm-9 card-text">
                            @Html.DisplayFor(model => model.FirstPlayed)
                        </dd>
                        <dt class="col-sm-3 card-text">
                            @Html.DisplayNameFor(model => model.LastPlayed)
                        </dt>
                        <dd class="col-sm-9 card-text">
                            @Html.DisplayFor(model => model.LastPlayed)
                        </dd>
                    </dl>

                    <hr class="col-lg-12" style="margin-top: 0px;" />

                    <dl class="row card-text">
                        <dt class="col-12 card-text">
                            @Html.DisplayNameFor(model => model.Notes)
                        </dt>
                        <dd class="col-12 card-text">
                            @if (Model.Notes != null && Model.Notes != "")
                            {
                                @Html.Raw(System.Net.WebUtility.HtmlEncode(Model.Notes).Replace("\r\n\n", "<br /><br />").Replace("\r\n", "<br />"))
                            }
                            else
                            {
                                <i class="text-muted">User hasn't made any notes.</i>
                            }
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row card-row">
    @foreach (var item in Model.Playthroughs)
    {
        <div class="col-lg-12" style="margin-top: 25px;">
            <div class="card">
                <div class="card-header dark-card-header">
                    <div class="row">
                        <img src="~/images/icons/Save.svg" height="30" class="ml-3">
                        <h4 class="mr-auto ml-2 card-text" style="margin: 0px 0px 0px 0px">Playthrough #@Html.DisplayFor(modelItem => item.OrdinalNumber)</h4>
                        <button type="button" class="btn btn-warning btn-sm mr-1 ml-auto modal-toggle" data-toggle="modal" data-target="#form-modal"
                                data-url="@Url.Action("EditPlaythrough", "PlayData", new { playDataId = Model.ID, ordinalNumber = item.OrdinalNumber })">
                            Edit
                        </button>
                        <button type="button" class="btn btn-danger btn-sm mr-3 ml-0 modal-toggle" data-toggle="modal" data-target="#form-modal"
                                data-url="@Url.Action("DeletePlaythrough", "PlayData", new { playDataId = Model.ID, ordinalNumber = item.OrdinalNumber })">
                            Delete
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row no-gutters">
                        <dl class="col-lg-6 row card-text">
                            <dt class="col-sm-3 card-text">
                                @Html.DisplayNameFor(modelItem => item.Status)
                            </dt>
                            <dd class="col-sm-9 card-text">
                                @Html.DisplayFor(modelItem => item.Status)
                            </dd>
                            <dt class="col-sm-3 card-text">
                                @Html.DisplayNameFor(modelItem => item.Playtime)
                            </dt>
                            <dd class="col-sm-9 card-text">
                                @Html.DisplayFor(modelItem => item.Playtime)
                            </dd>
                        </dl>
                        <dl class="col-lg-6 row card-text">
                            <dt class="col-sm-3 card-text">
                                @Html.DisplayNameFor(modelItem => item.DateStart)
                            </dt>
                            <dd class="col-sm-9 card-text">
                                @Html.DisplayFor(modelItem => item.DateStart)
                            </dd>
                            <dt class="col-sm-3 card-text">
                                @Html.DisplayNameFor(modelItem => item.DateEnd)
                            </dt>
                            <dd class="col-sm-9 card-text">
                                @Html.DisplayFor(modelItem => item.DateEnd)
                            </dd>
                        </dl>

                        <hr class="col-lg-12" style="margin-top: 0px;" />

                        <dl class="row card-text">
                            <dt class="col-sm-12 card-text">
                                @Html.DisplayNameFor(modelItem => item.Notes)
                            </dt>
                            <dd class="col-sm-12 card-text">
                                @if (item.Notes != null && item.Notes != "")
                                {
                                    @Html.Raw(System.Net.WebUtility.HtmlEncode(item.Notes).Replace("\r\n\n", "<br /><br />").Replace("\r\n", "<br />"))
                                }
                                else
                                {
                                    <i class="text-muted">User hasn't made any notes.</i>
                                }
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="row mt-3">
    <button type="button" class="btn btn-success btn-lg mr-3 ml-auto modal-toggle" data-toggle="modal" data-target="#form-modal"
            data-url="@Url.Action("CreatePlaythrough", "PlayData", new { playDataId = Model.ID })">
        Add playthrough
    </button>
</div>

<div class="modal fade" id="form-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" id="form-modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Playthrough modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Loading...
                </p>
            </div>
            <div class="modal-footer">
                <div class="form-group" style="margin-bottom: 0px;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {
            $("button.modal-toggle").on('click', function () {
                var url = $(this).data('url');
                $("#form-modal-content").load(url);
            });
        });

        // Reload jQuery to enable client-side validation for modal
        // and disable delete button if present
        $(document).ajaxSuccess(function () {
            $(".modal-form").removeData("validator");
            $(".modal-form").removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse(".modal-form");
            disableDeleteButton();
        });

        function disableDeleteButton() {
            if (document.getElementById("deleteButton") != null) {
                document.getElementById("deleteButton").disabled = true;
                setTimeout("enableDeleteButton()", 7000);
            }
        }

        function enableDeleteButton() {
            if (document.getElementById("deleteButton") != null) {
                document.getElementById("deleteButton").disabled = false;
            }
        }
    </script>
}

