@model Hoard.WebUI.Services.ViewModels.UserDashboard.UserDashboardViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top: -15px; padding-top: 10vh; padding-bottom: 10vh; background: url('../images/backgrounds/JumbotronBG.png'); background-size: cover; background-position: center;">
    <div class="container">
        <div class="jumbotron" style="margin: 0px; background: rgba(15, 16, 18, 0.7); padding: 30px;">
            <div class="row">
                <img src="~/images/icons/Gamepad.svg" height="61" class="ml-3" style="margin-top: 2px">
                <h1 class="display-4 ml-3">Now playing</h1>
            </div>
            <br />
            <table class="table table-sm table-hover table-white-border" style="background-color: rgba(14, 15, 17, 0);">
                <thead>
                    <tr>
                        <th>Platform</th>
                        <th>Title</th>
                        <th>Notes</th>
                        <th style="width: 1%;"></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var game in Model.CurrentGames)
                    {
                        <tr style="cursor: pointer;" onclick="window.location='@Url.Action("Details", "Game", new { id = game.GameID })'">
                            <td>@game.GamePlatform</td>
                            <td>@game.GameTitle</td>
                            <td>@game.PlaythroughNotes</td>
                            <td style="vertical-align: middle;"><a asp-controller="PlayData" asp-action="Details" asp-route-id="@game.PlayDataID" class="btn btn-warning btn-sm table-button">Edit</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="row card-row">
        <div class="col-xl-8" style="margin-top: 25px;">
            <div class="card h-100" style="max-height: 800px;">
                <div class="card-header dark-card-header">
                    <div class="row">
                        <img src="~/images/icons/Save.svg" height="30" class="ml-3">
                        <h4 class="mr-auto ml-2 card-text" style="margin: 0px 0px 0px 0px">Statistics</h4>
                    </div>
                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        <dl class="row card-text">
                            <dt class="col-sm-3 card-text">
                                Owned games:
                            </dt>
                            <dd class="col-sm-9 card-text">
                                @Model.NumberOfOwnedGames (of which @Model.NumberOfDroppedGames dropped)
                            </dd>
                            <dt class="col-sm-3 card-text">
                                Total playtime:
                            </dt>
                            <dd class="col-sm-9 card-text">
                                @Model.TotalPlaytime
                            </dd>
                            <dt class="col-sm-3 card-text">
                                Wishlist items:
                            </dt>
                            <dd class="col-sm-9 card-text">
                                @Model.NumberOfWishlistItems
                            </dd>
                        </dl>
                    </div>
                    <div class="list-group-item bg-primary">
                        <div class="row">
                            <div class="col-md-4">
                                <h4 style="margin: 0px;">Completion</h4>
                            </div>
                            <div class="col-md-8 mt-auto mb-auto">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Finished</div>
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Played</div>
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Unplayed</div>
                                    <div class="progress-bar bg-dark" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Dropped</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group list-group-flush" style="overflow-y: auto;">
                    <div class="list-group-item list-group-item-compact">
                        <div class="row">
                            <div class="col-md-4">
                                Overall progress
                            </div>
                            <div class="col-md-8 mt-auto mb-auto">
                                <div class="progress">
                                    <!--TODO: Don't display text if lower than 5%-->
                                    <div class="progress-bar bg-success" role="progressbar" style="width: @($"{Model.TotalGamesFinishedPercentage}%")" aria-valuenow="@Model.TotalGamesFinishedPercentage" aria-valuemin="0" aria-valuemax="100">@Model.TotalGamesFinished</div>
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: @($"{Model.TotalGamesPlayedPercentage}%")" aria-valuenow="@Model.TotalGamesPlayedPercentage" aria-valuemin="0" aria-valuemax="100">@Model.TotalGamesPlayed</div>
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: @($"{Model.TotalGamesUnplayedPercentage}%")" aria-valuenow="@Model.TotalGamesUnplayedPercentage" aria-valuemin="0" aria-valuemax="100">@Model.TotalGamesUnplayed</div>
                                    <div class="progress-bar bg-dark" role="progressbar" style="width: @($"{Model.TotalGamesDroppedPercentage}%")" aria-valuenow="@Model.TotalGamesDroppedPercentage" aria-valuemin="0" aria-valuemax="100">@Model.TotalGamesDropped</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item bg-primary" style="padding: 5px 0px 0px 0px;"></div>
                    @foreach (var ps in Model.PlatformStatistics)
                    {
                        <div class="list-group-item list-group-item-compact">
                            <div class="row">
                                <div class="col-md-4">
                                    @ps.PlatformName (@ps.TotalGamesOwned)
                                </div>
                                <div class="col-md-8 mt-auto mb-auto">
                                    <div class="progress">
                                        <!--TODO: Don't display text if percentage is lower than 5%-->
                                        <div class="progress-bar bg-success" role="progressbar" style="width: @($"{ps.FinishedGamesPercentage}%")" aria-valuenow="@ps.FinishedGamesPercentage" aria-valuemin="0" aria-valuemax="100">@ps.FinishedGames</div>
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: @($"{ps.PlayedGamesPercentage}%")" aria-valuenow="@ps.PlayedGamesPercentage" aria-valuemin="0" aria-valuemax="100">@ps.PlayedGames</div>
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: @($"{ps.UnplayedGamesPercentage}%")" aria-valuenow="@ps.UnplayedGamesPercentage" aria-valuemin="0" aria-valuemax="100">@ps.UnplayedGames</div>
                                        <div class="progress-bar bg-dark" role="progressbar" style="width: @($"{ps.DroppedGamesPercentage}%")" aria-valuenow="@ps.DroppedGamesPercentage" aria-valuemin="0" aria-valuemax="100">@ps.DroppedGames</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="col-xl-4" style="margin-top: 25px;">
            <div class="card h-100" style="max-height: 800px;">
                <div class="card-header dark-card-header">
                    <div class="row">
                        <img src="~/images/icons/Scroll.svg" height="30" class="ml-3">
                        <h4 class="mr-auto ml-2 card-text" style="margin: 0px 0px 0px 0px">Recent events</h4>
                    </div>
                </div>
                <div class="list-group list-group-flush" style="overflow-y: auto;">
                    @foreach (var item in Model.RecentEvents)
                    {
                        <a class="list-group-item list-group-item-action" href="@item.URL"><div class="small text-muted ml-auto">@item.DateString</div> <div><b>@item.Type:</b> @item.Title</div></a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
